$primary: #ff4433;
$font-family-sans-serif: "Roboto", sans-serif;
$body-color: #000;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  //background:red;
  padding-top: 120px;
  position:relative;
}

.navbar
{
  margin-top:-4px;
  padding-top: 0;
  padding-bottom: 0px;
}

.navbar img.logo {
  width: 60px;
}

h1.hero {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
}

@include media-breakpoint-up(sm) {
  h1.hero {
    font-size: 60px;
  }
}
@include media-breakpoint-up(md) {
  h1.hero {
    font-size: 70px;
  }
}
@include media-breakpoint-up(lg) {
  h1.hero {
    font-size: 90px;
  }
}
@include media-breakpoint-up(xl) {
  h1.hero {
    font-size: 110px;
  }
}

.footer {
  background: $primary;
  margin-top: 200px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: white;
  }
}

.fancylinks {
  a {
    position: relative;
    text-decoration: none;
  }

  a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  a:hover:before, a.active:before {
    visibility: visible;
    width: 100%;
  }
}

nav .fancylinks {
  a:before {
    bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  a:hover:before, a.active:before {
    visibility: visible;
    width: calc(100% - 16px);
  }
}

.footer.fancylinks {
  a:before {
    background-color: #fff;
    bottom: -5px;
  }
}


h2 {
  font-weight:900;
  font-size:50px;
  margin-bottom: 20px;
}